img{
	width:  15%;
	border-radius: 15px;
	border-style: ridge;
}
body{
	background-color: skyblue;
}
a:link, a:visited {
  color: white;
  padding: 4px 5px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}