img{
	width:  7%;
	border-radius: 40px;
	opacity:.5;
	border:1px;
}
img:hover {
	opacity: 1
}
body{
	background-color: skyblue;
}

#content{
  : 2px ridge #fd8600;;
  background-color: lightblue; 
}
#sub{
	border-radius: 2px;
	border-style:groove;
	background-color: ##4db6ac;
}

a:link, a:visited {
  color: white;
  padding: 4px 5px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}